@import "./prismjs/prism-funky.css";

@font-face {
  font-family: SymbolsNerdFont;
  src: url(../fonts/SymbolsNerdFontMono-Regular.ttf)
}
@font-face {
  font-family: Gohu;
  src: url(../fonts/GohuFontuni14NerdFont-Regular.ttf)
}

* {
  font-smooth: never !important;
  -webkit-font-smoothing : none !important;
  font-family: SymbolsNerdFont, Gohu !important
}

a:not(.font-bold, .inherit-color) {
  color: #0cf !important
}

input {
  background-color: transparent;
  border-bottom: 1px solid gray
}
input[type="number"] {
  width: 5rem
}

canvas.full-width {
  width: 100%
}
.dg.ac {
  position: absolute !important
}
.dg {
  background-color: black !important
}