@import "./prismjs/prism-funky.css";

@font-face {
  font-family: SymbolsNerdFont;
  src: url(../fonts/SymbolsNerdFontMono-Regular.ttf)
}
@font-face {
  font-family: Gohu;
  src: url(../fonts/GohuFontuni14NerdFont-Regular.ttf)
}

* {
  font-smooth: never !important;
  -webkit-font-smoothing : none !important;
  font-family: SymbolsNerdFont, Gohu !important
}